body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.game-controls {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background-color: #222;
  float: left;
  margin: 20px;
  color: #eee;
}

.game-controls button {
  font-size: 10px;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  display: inline;
}

.game-controls h2 {
  font-size: 12px;
  /*display: inline;*/
}

.btn-on {
  background-color: red;
}

button {

}

.btn-pressed-yellow {
  background-color: yellow;
}
